header{
  background-color: #F5BF00;
}

.logo{
  font-size: 40px;
}

.menu-top{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: #B4A265 2px solid;
  justify-content: space-between;
}

.menu-collapse li{
  list-style: none;
  height: 35px;
  text-align: center;
  border: #d3c080 1px solid;
  background-color: #ddcc92;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-collapse li:hover{
  background-color: #ebdeb6;
}
